/*!
  Theme: GitHub Dark Dimmed
  Description: Dark dimmed theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Colors taken from GitHub's CSS
*/

[data-md-color-scheme="slate"] .hljs {
  color: #adbac7;
  background: #22272e;
}

[data-md-color-scheme="slate"] .hljs-doctag,
[data-md-color-scheme="slate"] .hljs-keyword,
[data-md-color-scheme="slate"] .hljs-meta .hljs-keyword,
[data-md-color-scheme="slate"] .hljs-template-tag,
[data-md-color-scheme="slate"] .hljs-template-variable,
[data-md-color-scheme="slate"] .hljs-type,
[data-md-color-scheme="slate"] .hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #f47067;
}

[data-md-color-scheme="slate"] .hljs-title,
[data-md-color-scheme="slate"] .hljs-title.class_,
[data-md-color-scheme="slate"] .hljs-title.class_.inherited__,
[data-md-color-scheme="slate"] .hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #dcbdfb;
}

[data-md-color-scheme="slate"] .hljs-attr,
[data-md-color-scheme="slate"] .hljs-attribute,
[data-md-color-scheme="slate"] .hljs-literal,
[data-md-color-scheme="slate"] .hljs-meta,
[data-md-color-scheme="slate"] .hljs-number,
[data-md-color-scheme="slate"] .hljs-operator,
[data-md-color-scheme="slate"] .hljs-variable,
[data-md-color-scheme="slate"] .hljs-selector-attr,
[data-md-color-scheme="slate"] .hljs-selector-class,
[data-md-color-scheme="slate"] .hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #6cb6ff;
}

[data-md-color-scheme="slate"] .hljs-regexp,
[data-md-color-scheme="slate"] .hljs-string,
[data-md-color-scheme="slate"] .hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #96d0ff;
}

[data-md-color-scheme="slate"] .hljs-built_in,
[data-md-color-scheme="slate"] .hljs-symbol {
  /* prettylights-syntax-variable */
  color: #f69d50;
}

[data-md-color-scheme="slate"] .hljs-comment,
[data-md-color-scheme="slate"] .hljs-code,
[data-md-color-scheme="slate"] .hljs-formula {
  /* prettylights-syntax-comment */
  color: #768390;
}

[data-md-color-scheme="slate"] .hljs-name,
[data-md-color-scheme="slate"] .hljs-quote,
[data-md-color-scheme="slate"] .hljs-selector-tag,
[data-md-color-scheme="slate"] .hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #8ddb8c;
}

[data-md-color-scheme="slate"] .hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #adbac7;
}

[data-md-color-scheme="slate"] .hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #316dca;
  font-weight: bold;
}

[data-md-color-scheme="slate"] .hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #eac55f;
}

[data-md-color-scheme="slate"] .hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #adbac7;
  font-style: italic;
}

[data-md-color-scheme="slate"] .hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #adbac7;
  font-weight: bold;
}

[data-md-color-scheme="slate"] .hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #b4f1b4;
  background-color: #1b4721;
}

[data-md-color-scheme="slate"] .hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #ffd8d3;
  background-color: #78191b;
}

[data-md-color-scheme="slate"] .hljs-char.escape_,
[data-md-color-scheme="slate"] .hljs-link,
[data-md-color-scheme="slate"] .hljs-params,
[data-md-color-scheme="slate"] .hljs-property,
[data-md-color-scheme="slate"] .hljs-punctuation,
[data-md-color-scheme="slate"] .hljs-tag {
  /* purposely ignored */
}
